// IMPORT 
@use 'sass:math';
// IMPORT 

// ПЕРЕМЕННЫЕ 
$color1: #2e363b;
$color2: #f5c582;
$color3: #000;
$fontColor: #000;
$font1: 'Montserrat';
$font_size: 1.1vw;
$mfont_size: 5.8vw;
// ПЕРЕМЕННЫЕ 

// МИКСИНЫ
@mixin text($font_size: 100%, $weight: 400, $color: $fontColor, $fontName: $font1) {
  & {
    font-size: math.div($font_size, 100%) * $font_size;
    font-family: $fontName;
    font-weight: $weight;
    color: $color;
  }

  @media screen and (max-width: 800px) {
    & {
      font-size: math.div($mfont_size, 100%) * $font_size;
    }
  }
}

@mixin box($width: 100%, $padding: 0%, $height: auto, $margin_top: 0) {
  & {
    width: math.div($width - $padding * 2, 1);
    padding-left: $padding;
    padding-right: $padding;
    margin-top: $margin_top;
    height: $height;
  }

  @media screen and (max-width: 800px) {
    & {
      width: 100%;
      padding: 0;
    }
  }
}

@mixin img_box($width, $height: auto, $fit: cover, $outline: unset) {
  & {
    width: $width;
    height: $height;
    outline: $outline;
    outline-offset: -2px;

    img {
      object-fit: $fit;
      height: 100%;
      width: 100%;
    }
  }

  @media screen and (max-width: 800px) {
    & {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      flex-grow: -1;
    }
  }
}

@mixin background($gradientMask, $url, $maskColor1, $maskColor2, $opacity) {
  @if $gradientMask ==true {
    $rgba_color1: rgba(red($maskColor1), green($maskColor1), blue($maskColor1), $opacity);
    $rgba_color2: rgba(red($maskColor2), green($maskColor2), blue($maskColor2), $opacity);

    & {
      background: linear-gradient($rgba_color1, $rgba_color2), url($url);
    }
  }
}

@mixin background_img($url, $gradientMask: false, $maskColor1: #000, $maskColor2: #000, $opacity: 0.45) {
  & {
    background: url($url);

    @include background($gradientMask, $url, $maskColor1, $maskColor2, $opacity);

    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  @media screen and (max-width: 800px) {
    & {
      background-size: auto 100%;
    }
  }
}

@mixin img__mask($opacity: 60%, $color: $color1) {
  & {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($color, $opacity);
    z-index: 2;
  }
}

@mixin closer__btn {
  & {
    cursor: pointer;
    width: math.div(2, 1) * 1.2vw;
    height: math.div(2, 1) * 1.2vw;
    position: absolute;
    right: 1vw;
    top: 1vw;
    border-radius: 10px;
    box-shadow: 0 0 8px 5px rgba(255, 255, 255, 0.8);
    background: url(../img/close.png), $color3;
    background-size: 70% 70%;
    background-color: $color1;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 999;

    @media screen and (max-width: 800px) {
      & {
        width: math.div(10, 1) * 1.2vw;
        height: math.div(10, 1) * 1.2vw;
      }
    }
  }
}

@mixin flex__box($direction: row, $align_items: unset, $justify_content: unset) {
  & {
    display: flex;
    flex-direction: $direction;
    align-items: $align_items;
    justify-content: $justify_content;
  }
}

.custom__btn {
  padding: 1vw 2.5%;
  border: 2px solid #FFF;
  background-color: rgba(#000, 0.3);
  border-radius: 10px;
  cursor: pointer;

  @include flex__box(row, center, space-between);

  @media screen and (max-width: 800px) {
    padding: 2vw 4%;
  }

  & i {
    font-size: 1vw;
    color: #FFF;
    transition: font-weight .4s, text-shadow .6s;

    @media screen and (max-width: 800px) {
      font-size: 6vw;
    }
  }

  & span {
    padding: 0 2vw;
    transition: .4s;

    @include text(130%, 800, #FFF);

    @media screen and (max-width: 800px) {
      padding: 0 3vw;
    }
  }

  &:hover {
    background-color: $color2;

    & i {
      text-shadow: 0px -4px 8px $color3;
      font-weight: 800;
    }

    & span {
      text-shadow: 0px 0px 5px #000,
        0px 0px 10px #000;
    }
  }
}

@mixin h2__el($width : auto) {
  width: $width;
  border-bottom: 5px solid $color2;
  border-radius: 10px;

  @media screen and (max-width: 800px) {
    display: none;
  }

}

// МИКСИНЫ

/* BASIC */
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Thin.ttf);
  font-weight: 200;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  box-sizing: content-box;
}

strong {
  font-weight: 600;
}

body {
  position: relative;
  max-width: 100vw;
  overflow: hidden;
  overflow-y: auto;
  background-color: #FFF;
  min-height: 300vh;
}

a {
  text-decoration: none;
  color: inherit;
  width: auto;
  height: auto;
}

table {
  border: none;
  border-collapse: collapse;
}

div {
  display: block;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: 'Montserrat';
}

img {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

span {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

p {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

ul {
  margin-top: 0.3vw;
  margin-left: 1%;
}

ul,
li {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

nav {
  display: flex;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;

  @media screen and (max-width: 800px) {
    scroll-padding-top: unset;
  }
}

/* BASIC */

/* ============================= HEADER ============================= */

.header__line {
  position: fixed;
  padding: 0.2vw 2.5%;
  background-color: rgba($color1, 0.9);
  transform: translateY(-300px);
  transition: transform 0.6s, background 0.3s;
  z-index: 991;

  @include box(100%, 2.5%);
  @include flex__box(row, center, space-between);

  @media screen and (max-width: 800px) {
    transform: translateY(0px);
    width: 95%;
    padding: 0.5vw 2.5%;
  }

  &:hover{
    background-color: $color1;
  }
}

.header__background {
  background-color: rgba($color2, 0);
}

.header__logo__wrapper {
  transform: translateX(0vw);
  transition: .6s;
  @include img_box(15%, 6vh);

  @media screen and (max-width: 800px) {
    width: 50%;
    height: auto;
  }

  & img {
    display: flex;
    object-fit: contain;

    @media screen and (max-width: 800px) {
      height: 10vh;
    }
  }
}

.header__logo__hide {
  transform: translateX(-51vw);
  transition: .6s;
}

.logo__name {
  @include text(150%, 800, $fontColor);
}

.header__menu__wrapper {
  @include box(80%);

  @media screen and (max-width: 800px) {
    width: 50%;
  }
}

.burger__menu {
  display: none;

  @media screen and (max-width: 800px) {
    display: block;
    position: fixed;
    padding: 2vw;
    border-radius: 5px;
    background-color: rgba(#2e363b, 90%);
    top: 1vw;
    right: 1vw;
    width: 15vw;
    height: auto;
    z-index: 991;

    & img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.header__menu__box {
  width: 100%;


  @media screen and (max-width: 800px) {
    position: fixed;
    width: 100vw;
    top: -100dvh;
    left: 0;
    max-height: 100dvh;
    z-index: 993;
  }
}

.header__lang__menu__box {
  width: 100%;
  gap: 5vw;

  @include flex__box(row, center, flex-end);

  @media screen and (max-width: 800px) {
    position: relative;
    width: 95%;
    background-color: $color1;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 15px 15px;
    padding: 5vw 2.5%;
    gap: 4vw;
    z-index: 994;
  }
}

.header__menu__items__box {
  list-style: none;
  margin: 0;
  gap: 1vw;

  @include flex__box(row, center);
  @include text(140%, 600, #FFF);

  @media screen and (max-width: 800px) {
    order: 2;
    flex-direction: column;
    align-items: center;
    padding-top: 10vw;
    gap: 4vw;
  }

  & li {
    position: relative;
    top: 0;
    transition: .2s;

    &:hover {
      top: -0.1vw;
      color: $color2;
      text-shadow: 1px 8px 8px $color2;
    }
  }
}

.header__menu__closer {
  display: none;

  @include closer__btn();

  @media screen and (max-width: 800px) {
    display: block;
  }
}

.header__mask {
  display: none;

  @media screen and (max-width: 800px) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(#000, 0.7);
  }
}

.header__center {
  position: relative;
  min-height: 100vh;

  @include box(100%, 2.5%);
  @include flex__box(column, flex-end, center);

  @media screen and (max-width: 800px) {
    width: 95%;
    padding: 10vh 2.5%;
    padding-bottom: 5vw;
  }
}

.header__center__wrapper__img {
  position: absolute;
  top: 0;
  left: 0;

  @include img_box(100%, 100%);


  @media screen and (max-width: 800px) {
    height: 100%;

    @include background_img('../img/header_center.jpg');

    & img {
      display: none;
    }
  }

}

.header__center__mask__img {
  background-color: rgba(#000, 0.5);

  @include img__mask(0.3, #000);
}

.header__center__content {
  position: relative;
  text-align: right;
  gap: 1.5vw;
  z-index: 3;

  @include box(45%);
  @include flex__box(column, flex-end);

  @media screen and (max-width: 800px) {
    text-align: center;
    align-items: center;
  }
}

.header__center__title {
  letter-spacing: 5px;
  line-height: 0.9;

  @include text(230%, 800, #FFF, 'ROBOTTO');

  @media screen and (max-width: 800px) {
    text-align: left;
  }
}

.header__center__description {
  @include text(110%, 600, #FFF);
  @include box(90%);
}

.header__center__btn {
  margin-top: 2vw;

  @extend .custom__btn;
}

/* ============================= HEADER ============================= */


/* ============================= ADVANTAGES ============================= */

.advantages__block {
  background-color: $color1;
  border-top: 5px solid #000;

  @include box(100%, 2.5%);
  @include flex__box(row, flex-start, space-between);

  @media screen and (max-width: 800px) {
    width: 98%;
    flex-direction: column;
    border: unset;
    gap: 1vw;
    padding: 0vw 1%;
  }

}

.advantages__item {
  position: relative;

  @include box(23%, 0, 100%);
  @include flex__box(column, center, center);
}

.advantages__lamp__wrapper {
  position: relative;
  top: 0;
  gap: 1vw;

  @include img_box(10vw, 10vh);
  @include flex__box(column, center);

  @media screen and (max-width: 800px) {
    display: none;
  }

  & img {
    filter: brightness(0);
    transition: .4s;
  }
}

.rays__box {
  position: absolute;
  height: 2.5vw;
  bottom: -2.5vw;
  gap: 0.5vw;

  @include flex__box(column, center);

  @media screen and (max-width: 800px) {
    display: none;
  }

  & .ray {
    background-color: $color2;
    border-radius: 30px 0 30px 0;
    filter: blur(1.5px);
    box-shadow: 0 0 5px 1px $color2;
    opacity: 0;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        width: calc(#{20px} + #{20px} * #{$i - 1});
        height: 0.2vw;
        transition: calc(#{0.5s} + #{0.3s} * #{$i - 1});
      }
    }
  }
}

.advantages__item__content__box {
  border-radius: 10px;
  outline: 3px solid #000;
  padding: 1vw 2.5%;
  gap: 1vw;
  text-align: center;
  user-select: none;
  transition: .8s;

  @include box(100%, 2.5%, 10vw, 8vh);
  @include flex__box(column, center);

  @media screen and (max-width: 800px) {
    width: 95%;
    padding: 5vw 2.5%;
    margin-top: unset;
    outline: unset;
    outline: 5px solid #000;
    outline-offset: -5px;
    align-items: center;
    height: auto;
    border-radius: unset;
    gap: 5vw;
  }

  & .advantages__item__title {
    transition: .6s;

    @include text(130%, 800);

    @media screen and (max-width: 800px) {
      color: $color2;
    }
  }

  & .advantages__item__subtitle {
    transition: .6s;

    @include text(110%, 600);

    @media screen and (max-width: 800px) {
      color: #FFF;
    }
  }
}

.advantages__item__img {
  display: none;

  @include img_box(40%, 10vw);

  @media screen and (max-width: 800px) {
    display: flex;
    width: 40%;
    margin-bottom: 3vw;
  }
}

.adv__active {
  & .advantages__lamp__wrapper>img {
    filter: brightness(1);

    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  & .ray {
    opacity: 1;

    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  & .advantages__item__content__box {
    box-shadow: 4px 7px 20px 10px #000;
    background-color: $color2;

    @media screen and (max-width: 800px) {
      box-shadow: unset;
      background-color: unset;
    }

    & .advantages__item__title,
    .advantages__item__subtitle {
      color: #FFF;
    }

    & .advantages__item__title {
      @media screen and (max-width: 800px) {
        color: $color2;
      }
    }
  }
}

/* ============================= ADVANTAGES ============================= */


/* ============================= ABOUT__US ============================= */

.about__us__block {
  background-color: $color1;
  padding: 5vw 0;

  @include box(100%);
  @include flex__box(row, stretch);

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.about__us__content__box {
  gap: 3vw;

  @include box(50%, 2.5%);
  @include flex__box(column);

  @media screen and (max-width: 800px) {
    align-items: center;
    width: 95%;
    padding: 0 2.5%;
    padding-top: 5vw;
  }

  & h2 {
    padding-left: 5px;
    @include text(180%, 800, #000);

    & .about__us__h2__border {
      @include h2__el(1em);
    }
  }

  & .about__us__text {
    letter-spacing: 2px;
    line-height: 1.5;

    @include text(120%, 600, #000);

    @media screen and (max-width: 800px) {
      font-size: 6vw;
    }
  }
}

.about__us__wrapper__img {
  min-height: 30vw;
  border-radius: 10px 0 0 10px;

  @include img_box(50%);

  @media screen and (max-width: 800px) {
    display: none;
  }

  & img {
    border-radius: 10px 0 0 10px;
  }
}

/* ============================= ABOUT__US ============================= */

/* ============================= Translate Press ============================= */
#trp-floater-ls.trp-bottom-right {
  display: none;
}

;

.header__lang__box {
  @media screen and (max-width: 800px) {
    position: absolute;
    top: 1vw;
    left: 1vw;
  }

  & .trp_language_switcher_shortcode {
    display: flex;
    justify-content: flex-end;
  }

  & .trp-language-switcher-container {
    display: flex;
    align-items: center;

    &:hover .trp-ls-shortcode-language {
      all: unset;
    }
  }

  & .trp-language-switcher {
    width: 5vw;

    & .trp-ls-shortcode-language {
      padding: unset;
      display: flex !important;
      flex-direction: row;
      align-items: center;
      overflow: unset;
      visibility: unset;
    }
  }

  & .trp-language-switcher>div {
    background-color: unset;
    border: unset;
    background-image: unset;
    background-position: unset;
    background-repeat: unset;
    background-size: unset;
  }

  & .trp-ls-shortcode-current-language {
    display: none;
  }

  & .trp-ls-shortcode-disabled-language {
    background-color: $color2;
  }

  & .trp-language-switcher>div>a.trp-ls-shortcode-disabled-language:hover {
    background-color: $color2;
  }

  & .trp-language-switcher>div>a {
    transition: .4s;

    &:hover {
      background-color: rgba($color2, 70%);
    }
  }
}

/* ============================= Translate Press ============================= */


/* ============================= FORM ============================= */

.form__block {
  position: relative;
  border: 3px solid #000;
  border-left: unset;
  border-right: unset;

  @include box(100%);
  @include flex__box(column, center);

  @media screen and (max-width: 800px) {
    align-items: center;
  }
}

.form__wrapper__img {
  position: absolute;
  z-index: 1;

  @include img_box(100%, 100%);

  @media screen and (max-width: 800px) {
    height: 100%;
  }

  & img {
    filter: blur(3px) grayscale(0.2);
  }
}

.form__mask {
  @include img__mask(0.6, #000);
}

.form__content {
  position: relative;
  padding: 5vw 2.5%;
  gap: 2vw;
  z-index: 3;

  @include box(80%, 2.5%);
  @include flex__box(column, center);
}


.form__titles__box {
  gap: 1.5vw;
  letter-spacing: 8px;

  @include box(100%);
  @include flex__box(column, center);

  @media screen and (max-width: 800px) {
    text-align: center;
    gap: 3vw;
  }

  & .form__content__subtitle {
    @include text(100%, 600, #ffffffa2);
  }

  & h2 {
    text-transform: uppercase;

    @include text(140%, 600, #FFF);

    & .form__titles__h2__border {
      @include h2__el(3em);
    }
  }
}

.form__content {
  
  @media screen and (max-width: 800px) {
    padding-top: 5vw;
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  & form {
    @include flex__box(column, center);
  }

  & .wpforms-container {
    @include box(100%);
  }

  & .wpforms-field-container {
    flex-wrap: wrap;
    gap: 2%;

    @include box(100%);
    @include flex__box(row, center);

    & .form__content__input {
      padding: 25px 0;

      @include box(32%);

      @media screen and (max-width: 800px) {
      padding: 25px 0 !important;
      }

      & input {
        background-color: rgba(#000, 0.1);
        outline: 1px solid #FFF7;
        outline-offset: -1px;
        border: unset;
        padding-top: 1vw;
        padding-bottom: 1vw;
        transition: background .4s;

        @include text(110%, 800, #FFF);

        &::placeholder {
          color: #FFF;
        }

        &:focus {
          color: #FFF !important;
          outline: 2px solid #FFF !important;
          background-color: #FFF3;
          border: unset !important;
        }
      }
    }

    & .form__content__textarea {
      @include box(100%, 0, auto, 1vw);

      & textarea {
        background-color: rgba(#000, 0.1);
        outline: 1px solid #FFF7;
        outline-offset: -1px;
        border: unset;
        padding-top: 1vw;
        padding-bottom: 1vw;
        transition: background .4s;

        @include text(110%, 800, #FFF);

        @media screen and (max-width: 800px) {
          margin-top: 1vw;
        }

        &::placeholder {
          color: #FFF;
        }

        &:focus {
          color: #FFF !important;
          outline: 2px solid #FFF;
          background-color: #FFF3;
          border: unset;
        }
      }
    }

    & em.wpforms-error {
      position: absolute !important;
      bottom: 0;
      margin-top: 0 !important;
    }

  }

  & .wpforms-field-gdpr-checkbox {

    & label.wpforms-field-label,
    label.wpforms-field-label-inline {
      color: #FFF;
    }
  }

  & .wpforms-confirmation-container-full {
    background: #FFF3 !important;
    border: 1px solid #f5c582 !important;
    padding: 5vw 0 !important;

    @include box(100%);
    @include flex__box(column, center);

    @media screen and (max-width: 800px) {
      padding: 10vw 0 !important;
    }

    & p::before {
      content: '\f00c';
      position: relative;
      display: block;
      text-align: center;
      margin-bottom: 3vw;

      @include text(150%, 800, green, 'Font Awesome 5 Free');
    }

    & p {
      color: #FFF !important;
      font-weight: 800;

      @media screen and (max-width: 800px) {
        text-align: center;
      }
    }
  }

  & .wpforms-submit-container button.wpforms-submit{
    font-size: 1.3vw !important;
    background: unset !important;
    background-color: #0004 !important;
    outline: 1px solid #FFF3;
    outline-offset: -1px;
    padding: 0 1.5vw !important;
    height: 2.5vw !important;
    transition: background, text-shadow 0.4s;

    @media screen and (max-width: 800px) {
      font-size: 7vw !important;
      height: 11vw !important;
      padding: 0 5vw !important;
      outline-color: #FFF;
    }

    &::before, &::after{
      content: '\f0eb';
      font-size: 1vw;
      font-weight: 400;
      font-family: 'Font Awesome 6 Free';
      transition: .4s;
    }

    &::before{
      padding-right: 1vw;
    }

    &::after{
      padding-left: 1vw;
    }

    &:hover{
      outline-offset: 0px;
      outline: 1px solid #FFF;
      background-color: $color2 !important;
      text-shadow: 0px 0px 5px #000,
        0px 0px 10px #000;

        &::after, &::before{
          font-weight: 800;
        }
    }

    &:focus {
      padding: 0 1.5vw !important;
    
      &::before,
      &::after {
        content: '\f0eb';
        color: $color2;
      }

      &::after{
        position: relative !important;
        border: none !important;
        top: unset !important;
        left: unset !important;
        bottom: unset !important;
        right: unset !important;
      }
    }
  }
}

/* ============================= FORM ============================= */


/* ============================= FOOTER ============================= */

footer{
  background-color: $color1;
  padding: 5vw 2.5%;

  @include box(100%, 2.5%);
  @include flex__box(row, center, space-between);
}

.footer__contact__block{
  gap: 1vw 5%;
  flex-wrap: wrap;
  
  @include box(30%);
  @include flex__box(row, center, center);
}

.footer__contact__item{
  gap: 1vw;

  @include box(47.5%);
  @include flex__box(column, center);

  & .footer__contact__ico{
    @include text(150%, 900, #FFF, "Font Awesome 5 Free");
  }
}

.footer__contact__name{
  @include text(120%, 600, #FFF);
}

.footer__design__el{
  width: 5vw;
  height: 0.3vw;
  background-color: $color2;
  border-radius: 20px;
}

.footer__logo__wrapper{
  @include img_box(30%);
}

/* ============================= FOOTER ============================= */